/* =============================
Universal
============================= */

:root {
    --dark: rgba(0,0,0);
    --light: rgba(255,255,255);
    --dark-blue: rgb(7, 7, 48);
}

body {
    min-height: 97vh;
}

#wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
}
/* =============================
Header
============================= */
#header {
    background-color: var(--dark-blue);
    color: var(--light);
    text-align: center;
}

/* =============================
Location Bar
============================= */
#location {
    padding: 0;
    text-align: center;
}

.past-search {
    margin-bottom: 0.4em;
}

/* =============================
Forecast
============================= */

.data-field {
    font-weight: bold;
}

.forecast-panel {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    font-size: .75em;
    color:var(--light);
    background-color: var(--dark-blue);
}

#future-forecast {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.uv-high {
    color:crimson;
}

.uv-med {
    color:orange;
}

.uv-low {
    color: green;
}
/* =============================
Footer
============================= */

#footer {
    position: absolute;
    bottom: 0;
    height:3vh;

    font-size: .5em;
    text-align:center;
    color: var(--light);
    background-color: var(--dark);
}